<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
			<PatternLayout charset="UTF-8">
				<Pattern>
					%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
				</Pattern>
			</PatternLayout>
        </layout>
    </appender>

    <logger name="my.practice.assignment" level="all" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="all">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>